<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860891165642-oukmu4bms6t0pvf3quvk21vg1qlqo1oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860891165642-oukmu4bms6t0pvf3quvk21vg1qlqo1oj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQfR7DBlMG1i7oCCIQNtkUBnc9xEi47ec</string>
	<key>GCM_SENDER_ID</key>
	<string>860891165642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SergioMacedo.MessageAppBackFront</string>
	<key>PROJECT_ID</key>
	<string>messageappbackfront</string>
	<key>STORAGE_BUCKET</key>
	<string>messageappbackfront.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860891165642:ios:0e70214557f1f6fa8b1533</string>
</dict>
</plist>